$VeryDarkPurple: rgb(54, 4, 66);
$DarkPurple: rgb(48, 5, 104);
$LightPurple:  rgb(80, 11, 170);
$Grey: rgb(36, 36, 36);
$LightGrey: rgb(94, 93, 93);


*{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    max-width: 100%;
}

header{
    width: 100%;
    background-color: $VeryDarkPurple;
    height: 100px;


    .header__container{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .btnMenu{
            color: #fff;
            font-size: 22px;
        }
    }

    .githubBtn{
        width: 200px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        padding-right: 10px;
        background-color: $Grey;
        border: 2px solid #fff;

        i{
            position: absolute;
            left: 5%;
            font-size: 22px;
        }
    }
}

.hero{
    width: 100%;
    padding: 40px 0;
    margin-bottom: 100px;
    text-align: center;
    background: url(../assets/img/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

    .img__perfil{
        width: 40%;
        margin: auto;
        margin-bottom: 50px;

        img{
            border-radius: 50%;
            border: 4px solid #fff;
        }
    }

    h1{
        width: 80%;
        margin: auto;
        font-size: 1.3em;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.about__me{

    width: 80%;
    margin: 100px auto;
    text-align: center;


    h2{
        margin-bottom: 30px;
        font-size: 1.5em;
        color: $Grey;
    }

    p{
        color: $LightGrey;
        font-size: .9em;
    }
}

.portfolio{
    width: 100%;
    margin: auto;
    background-color: $Grey;

    .portfolio__container{
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 50px 0;
        position: relative;

        h2{
            font-size: 1.5em;
            color: #fff;
            margin-bottom: 50px;
        }

        .ViewMore-Btn{
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            margin: auto;
            left: 0;
            right: 0;
            min-width: 200px;
            width: 200px;
            font-size: .9em;
            height: 50px;
            text-decoration: none;
            text-transform: uppercase;
            color: $Grey;
            border-radius: 5px 5px 0 0;
            background-color: #fff;
        }   
    }
}

.technologies{
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 70px 0;
    text-align: center;

    h2{
        width: 80%;
        margin: auto;
        font-size: 1.3em;
        color: $Grey;
        margin-bottom: 50px;
    }

    .techs{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tech {
            margin-bottom: 20px;
            margin-left: 20px;

            i{
                font-size: 50px;
            }

            img{
                width: 50px;
            }
        }
    }
}

.contact{
    width: 100%;
    height: 100px;
    display: flex;

    .contact__title{
        width: 50%;
        margin: 0 10px 0 20px ;
        text-align: initial;
        display: flex;
        align-items: center;
        h2{
            font-size: 1.2em;
            color: $Grey;
            font-weight: 400;
        }
    }

    .contact__linkedin{
        width: 50%;
        text-decoration: none;
        height: 100%;
        background-color: rgb(6, 79, 97);
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            font-size: 60px;
            color: #fff;
        }
    }
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $Grey;
    padding-right: 20px;

    a{
        i{
            font-size: 20px;
            margin-right: 10px;
        }

        .instagram{
            color: rgb(231, 83, 236);
        }

        .facebook{
            color: rgb(100, 100, 255);
        }
    }
}