$VeryDarkPurple: rgb(54, 4, 66);
$DarkPurple: rgb(48, 5, 104);
$LightPurple:  rgb(80, 11, 170);
$Grey: rgb(36, 36, 36);
$LightGrey: rgb(94, 93, 93);


*{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    position: relative;
}

img{
    max-width: 100%;
}

header{
    width: 100%;
    background-color: $VeryDarkPurple;
    height: 100px;


    .header__container{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .header__nav{
            width: 100%;
            height: auto;
            position: absolute;
            opacity: 1;
            top: 100px;
            left: 0;
            margin: auto;
            background-color: rgb(54, 4, 66);
            border-bottom: 2px solid #fff;

            ul{
                width: 80%;
                margin: auto;
                display: flex;
                flex-direction: column;
                text-align: center;

                li{
                    list-style: none;
                    margin-top: 20px;

                    &:last-child{
                        margin-bottom: 40px;
                        a{
                            width: 100%;
                            padding: 10px 0;
                            border: 2px solid #fff;
                            border-radius: 5px;
                            background-color: rgb(7, 58, 100);
                            height: 100%;
                            display: inline-block;
                            &:hover{
                                color: #fff;
                                background-color: rgb(8, 87, 151);
                                transition: background-color .2s;
                            }
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #fff;

                        &:hover{
                            color: rgb(218, 219, 221);
                            transition: color .2s;
                        }
                    }
                }
            }
        }

        .nav__hidden{
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s, visibility .2s;
        }

        .open{
            display: none;

            &:checked{
                ~ label{
                    .btnMenu{
                        background: url(../assets/img/icon-close.svg) no-repeat center;
                    }
                }
                ~ .nav__hidden{
                    opacity: 1;
                    visibility: visible;
                    transition: opacity .2s, visibility .2s;
                }
            }
        }

        .btnMenu{
            display: block;
            width: 25px;
            height: 25px;
            background: url(../assets/img/icon-hamburger.svg) no-repeat center;
            cursor: pointer;
            transition: background .1s;
        }
    }



    .githubBtn{
        min-width: 200px;
        width: 200px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        padding-right: 10px;
        background-color: $Grey;
        border: 2px solid #fff;

        &:hover{
            background-color: rgb(61, 61, 61);
            transition: background-color .2s;
        }

        i{
            position: absolute;
            left: 5%;
            font-size: 22px;
        }
    }
}


.hero{
    width: 100%;
    padding: 40px 0;
    margin-bottom: 100px;
    text-align: center;
    background: url(../assets/img/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

    .img__perfil{
        max-width: 300px;
        width: 40%;
        margin: auto;
        margin-bottom: 50px;

        img{
            border-radius: 50%;
            border: 4px solid #fff;
        }
    }

    h1{
        width: 80%;
        margin: auto;
        font-size: 1.3em;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.about__me{

    width: 80%;
    margin: 100px auto;
    text-align: center;


    h2{
        margin-bottom: 30px;
        font-size: 1.5em;
        color: $Grey;
    }

    p{
        color: $LightGrey;
        line-height: 25px;
        font-size: .8em;
    }

    &-icon{
        i{
            color: #fff;
        }
    }
}

.portfolio{
    width: 100%;
    margin: auto;
    background-color: $Grey;

    .portfolio__container{
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 50px 0;
        position: relative;

        h2{
            font-size: 1.5em;
            color: #fff;
            margin-bottom: 50px;
        }

        .ViewMore-Btn{
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            margin: auto;
            left: 0;
            right: 0;
            min-width: 200px;
            width: 200px;
            font-size: .9em;
            height: 50px;
            text-decoration: none;
            text-transform: uppercase;
            color: $Grey;
            border-radius: 5px 5px 0 0;
            background-color: #fff;

            &:hover{
                background-color: rgb(233, 233, 233);
                transition: background-color .2s;
            }
        }   
    }
}

.technologies{
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 70px 0;
    text-align: center;

    h2{
        width: 80%;
        margin: auto;
        font-size: 1.3em;
        color: $Grey;
        margin-bottom: 50px;
    }

    .techs{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tech {
            margin-bottom: 20px;
            margin-left: 20px;

            i{
                font-size: 50px;
            }

            img{
                width: 50px;
            }
        }
    }
}

.contact{
    width: 100%;
    height: 100px;
    display: flex;

    .contact__title{
        width: 50%;
        margin: 0 10px 0 20px ;
        text-align: initial;
        display: flex;
        align-items: center;
        h2{
            font-size: 1.2em;
            color: $Grey;
            font-weight: 400;
        }
    }

    .contact__linkedin{
        width: 50%;
        text-decoration: none;
        height: 100%;
        background-color: rgb(6, 79, 97);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: rgb(7, 99, 122);
            transition: background-color .2s;
        }

        i{
            font-size: 60px;
            color: #fff;
        }
    }
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $Grey;
    padding-right: 20px;

    a{
        i{
            color: #fff;
            font-size: 20px;
            margin-right: 30px;
        }

        &:first-child:hover{
            i{
                color: rgb(184, 15, 199); 
                transition: color .2s;
            }
        }

        &:last-child:hover{
            i{
                color: rgb(17, 115, 196);
                transition: color .2s;
            }
        }
    }
}

.portfolio-page__title{
    width: 100%;
    background-color: #fff;
    padding: 0 30px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 1.5em;
        color: #fff;
        background-color: $Grey;
        padding: 5px;
        margin-right: 100px;
    }

    .btnHome{
        text-decoration: none;
        font-weight: lighter;
        color: #222;
        font-size: .9em;
    }
}

.proyects__container{
    width: 100%;
    padding: 0 0 100px 0;
    display: flex;
    flex-direction: column;

    .proyect{
        width: 80%;
        margin: auto;
        margin-top: 100px;
        height: 350px;
        background-color: red;
        // border-radius: 10px;

        &:last-of-type{
            margin-bottom: 100px;
        }

        .proyect__title{
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            width: 100%;
            background-color: $Grey;
            text-align: center;
            color: #fff;
            // border-radius: 10px 10px 0 0;
            border-bottom: 3px solid #fff;
        }

        .proyect__miniature{
            width: 100%;
            height: 70%;
            
            img{
                width: 100%;
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: contain;
                // background-position: center;
            }
        }

        .proyect__techs{
            width: 100%;
            height: 10%;
            display: flex;
            padding-left: 10px;
            align-items: center;
            justify-content: flex-start;
            background-color: #fff;
            // border: 3px solid $Grey;

            img{
                width: 25px;
                height: 25px;
                object-fit: cover;
            }
        }

        .enterSite{
            width: 100%;
            height: 40px;
            display: block;
            background-color: $Grey;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;
            color: #fff;
            font-size: .9em;
        }
    }
}

@media screen and (min-width: 728px){
    .hero{
        &__container{
            h1{
                width: 50%;
                font-size: 1.8em;
            }
        }
    }

    .portfolio-page__title{
        width: 80%;
    }

    .proyects__container{
        width: 80%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        .proyect{
            width: 40%;
        }
    }
}

@media screen and (min-width: 1024px){
    header {
        .header__container{

            .header__nav{
                position: static;
                border-bottom: none;
                height: 100%;
                width: fit-content;
                margin: 0;

                ul{
                    flex-direction: row;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    justify-content: flex-end;

                    li{
                        margin: 0;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin-right: 15px;

                        a{
                            font-size: .8em;
                        }

                        &:last-child{
                            margin-bottom: 0;
                            
                            a{
                                height: 45%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 0 30px;
                            }
                        }
                    }
                }
            }

            .nav__hidden{
                opacity: 1;
                visibility: visible;
            }

            label {
                .btnMenu{
                    display: none;
                }
            }
        }
    }
    .hero{
        .hero__container{
            display: flex;
            width: 60%;
            margin: 0 auto;
            align-items: center;
    
            .img__perfil{
                width: 30%;
                margin-bottom: 0;
                margin-right: 20px;
            }

            h1{
                text-align: initial;
                width: 60%;
                font-size: 2em;
            }
        }
    }

    .about__me{
        display: flex;
        flex-direction: row-reverse;
        width: 50%;

        &-info{
            width: 60%;
            border-left: 2px solid #222;
            margin-left: 20px;
            padding-left: 50px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            h2, p{
                width: 80%;
            }
        }

        &-icon{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            i{
                font-size: 200px;
                color: $Grey;
                padding-right: 50px;
                display: block;
            }
        }
    }

    .grid__container{
        display: grid;
        // height: fit-content;

        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;


        .portfolio{
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            height: 100%;

            &__container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .technologies{
            grid-column: 2 / 2;
            grid-row: 1 / 1;
        }
    }

    .contact{
        width: 30%;
        margin: 50px auto;

        .contact__title{
            width: 70%;

            h2{
                font-size: 1.4em;
            }
        }

        a{
            width: 30%;
            border-radius: 5px;
        }
    }

    footer{
        justify-content: center;
        height: 100px;
        a{
            i{
                font-size: 30px;

            }

        }
    }

    .portfolio-page__title{
        width: 70%;
    }

    .proyects__container{
        width: 80%;
        .proyect{
            width: 30%;
        }
    }
}



    